.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #eee;
    padding: 30px;
    border-radius: 10%;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #fea3b7;
  }
  .dashboard div {
    margin-top: 5px;
  }
  .profile-object-dashboard{
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .profile-circle-dashboard{
    width: 100px;
    height: 100px;
    background-color: #fea3b7;
    border-radius: 50%;
  }
  .profile-circle-text-dashboard{
    padding-top: 103px;
    text-align: center;
    font-size: 15px;
  }