*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--primaryPurple: #fea3b7;
	--black-1: #af6e86;
	--black-2: #6a262c;
	--bg-1: #fff8fb;
	--bg-2: #f6ecee;
	--bg-3: #deccd4;
	--gray-1: #eee;
	--gray-2: #e1dedf;
	--black: black;
	--white: white;
}
html {
	font-size: 10px;
}
body {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-1);
}
* {
	font-family: 'Poppins', sans-serif;
}
.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
